body {
    /*https://cssgradient.io/ used for gradient */
    background-color: #e6f9ff;
    /* background: linear-gradient(90deg, rgba(175,245,242,1) 0%, rgba(201,255,249,0.30885857761073177) 35%, rgba(216,242,247,1) 100%); */
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  ::-webkit-scrollbar{
      visibility: hidden;
  }

  #NUIG img{
    position: fixed;
    right:5px;
    top: 25px;
    width: 100px;
  }

  
 

  #CLEF img{
    position: fixed;
    right:5px;
    top: 5px;
    width: 100px;
   
  }
 

  .instruments, .tonality, .settings, .results, .accidental{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
   
  }

  .tonality{
      margin-top: 100px;
  }

  .settings{
      margin-top: 180px;
  }

  .accidental{
      margin-top: 260px;
  }

  .results{
      margin-top: 340px;
  }

  #first{
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
  }

  #last{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .button_instrument{
      float:left;
      background-color: #ADECF4;
      width: 33%;
      height: 50px;
      margin: 0 auto;
      color: black;
      font-family: 'Fredoka One', cursive;
      transition: 0.3s;
      box-shadow: 0px 10px 10px lightgray;
  }

  .button_instrument p{
      position: relative;
      top: 12px;
  }
  
  
  .button_note{
    float:left;
    background-color: #ADECF4;
    width: 14.28571428571%;
    height: 50px;
    margin: 0 auto;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
  }

  .button_note p{
    position: relative;
    top: 12px;
  }

  .button_accidental{
    float:left;
    background-color: #ADECF4;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
  }

  .button_accidental p{
    position: relative;
    top: 12px;
  }

  .button_scale{
    float:left;
    background-color: #ADECF4;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
  }

  .button_scale p{
    position: relative;
    top: 12px;
  }

  .button_results{
    float:left;
    background-color: #ADECF4;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
  }

  .button_results p{
    position: relative;
    top: 12px;
  }


  .chord_options{
      width: 100%;
      margin: 0 auto;
  }
  
  .tonic{
      width: 20%;
      margin: 0 auto;
  }

  
  
  .top{
    background-color: #ADECF4;
    width: 33%;
    height: 50px;
    margin: 0 auto;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
    border-radius: 5px;
  }
  
  
  
  .middle{
    background-color: #ADECF4;
    width: 50%;
    height: 50px;
    margin-bottom: 15px;
    margin: 0 auto;
    float: left;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
   
  }

  .bottom{
    background-color: #ADECF4;
    width: 33%;
    height: 50px;
    margin: 0 auto;
    color: black;
    float: left;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s;
    box-shadow: 0px 10px 10px lightgray;
   
  }

  .top_row, .middle_row, .bottom_row{
      margin-bottom: 15px;
      height: 50px;
  }

  .top p, .middle p, .bottom p{
      position: relative;
      top: 12px;
  }
  
  
  
  .shadow_box{
      margin: 10px auto;
      width: 50%;
      border-top: 4px solid black;
      height: 70vh;
  }

  .selection{
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
  }

  .selection_container{
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  
  }

  .selection_container div{
    width: 50%;
    float: left;
    font-family: 'Fredoka One', cursive;
    padding: 0 10px;
    transition: 0.4s;
    cursor: pointer; 
    margin-bottom: 10px;
  }

  .selection_container div:hover{
    color:rgb(190, 190, 190);
  }

  .selection_middle{
    border-left: 2px solid black;
  }

  .border-bottom{
    margin: 0 auto;
    height: 4px;
    width: 0%;
    transition: 0.6s;
    
    background-color:black;
  }
  
  .accidental{
    visibility: visible;
  }
  
  .piano {
      margin: 0 auto;
      margin-top: 20px;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      transition: 0.5s;
      pointer-events: none;
  }
  
 
  
  .white {
    width: 9%;
      height: 50%;
      background-color: white;
      border: 3px solid #e6f9ff;   
      transition: 0.3s; 
      z-index: 1;
      
  }

  .black {
    width: 4%;
    height: 30%;
    margin-left: -4%;
    margin-right: -4%;
      z-index: 3;
      background-color: black;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 0.3s;
      box-shadow: 0px 10px 15px gray;
  }
  
  
  
  #last_key{
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    

  }
  
  #first_key{
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
  }
  
 
  
  .white.active {
      background-color: #ccc;
  }
  
  .black.active {
      background-color: #333;
  }


  .buttons{
    position: absolute;
    left: 0;
    width: 50%;
    height: 450px;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.7s;
  }
  
 
  .instruments_button{
    height: 50px;
    width: 100%;
    margin-left: 5px;
  }

  .instruments_button div{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #ADECF4;
    box-shadow: 0px 10px 10px lightgray;
    transition: 0.4s; 
    float: left;
  }

  .instruments_button div:hover, .notes_button div:hover{
    background-color: #d2f1f5;
  }

  .overflow_div{
    width: 120px;
    transition: 0.5s;
    overflow: hidden;
   
  }

  .overflow_div:hover{
    width: 480px;
    cursor: pointer;
    
  }
  

  .instruments_button p{
    font-family: 'Fredoka One', cursive;
    position: relative;
    top: 12px;
  }

  .notes_button{
    height: 50px;
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
  }

  .notes_button div{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #ADECF4;
    box-shadow: 0px 10px 10px lightgray;
    transition: 0.4s; 
    float: left;
  }

  .notes_popout{
    width: 120px;
    transition: 0.5s;
    overflow: hidden;
  }

  .notes_button p{
    font-family: 'Fredoka One', cursive;
    position: relative;
    top: 12px;
  }

  .notes{
    width: 51.42857142857143px;
    height: 50px;
    border-radius: 5px;
    background-color: #ADECF4;
    box-shadow: 0px 10px 10px lightgray;
    transition: 0.4s; 
    float: left;
  }

  .notes_popout:hover{
    width: 480px;
    cursor: pointer;
  }


  
 
  
  @media only screen and (min-width: 1024px){

    div{
      font-size: 16px;
  }

  

  .piano{
    width: 100%;
    height: 80vh
  }


  .white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 3px solid #e6f9ff;   
    transition: 0.3s;

   
}

.black {
  width: 8%;
  height: 45%;
  margin-left: -4%;
  margin-right: -4%;
  z-index: 2;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.3s;
  box-shadow: 0px 10px 15px gray;

}

    #NUIG img{
        position: fixed;
        right:0px;
        top: 160px;
        width: 150px;
   
      }
    
      #CLEF img{
        position: fixed;
        right:0px;
        top: 5px;
        width: 150px;
      
      }

      h4{
        font-size: 20px;
        
    }
  
  
  
  .white:hover{
      background-color: #efefef;
      cursor: pointer;
  }
  
  .black:hover{
      background-color: #2d2d2d;
      cursor: pointer;
  }
  
  .button_instrument:hover, .button_note:hover, .button_accidental:hover, .button_scale:hover, .button_accidental:hover, .button_results:hover, .top:hover, .middle:hover, .bottom:hover{
      color: black;
      background-color: white;
      cursor: pointer;
  }
  
  
  .button_green:hover{
      background-color: #D02FC6;
      color: white;
  }
  
  .button_orange:hover{
      background-color: #1266ED;
     color: white;
  }
  
  .button_red:hover{
      background-color: #08F7F2;
     color: white;
  }
  
  .results button:hover{
      background-color: white;
      color: black;
      cursor: pointer;
  }
  
  }