body {
  /*https://cssgradient.io/ used for gradient */
  background: rgb(175,245,242);
  background: linear-gradient(90deg, rgba(175,245,242,1) 0%, rgba(201,255,249,0.30885857761073177) 35%, rgba(216,242,247,1) 100%);
}

.container2 {
    display: flex;
    justify-content: center;
  }

.container3 {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-note]{
  background-color: white;
}

.begeed
{
    display: flex;
  justify-content: center;
}
.button_instrument{
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Fredoka One', cursive;
}



.button_note{
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.button_scale{
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.shadow_box{
    margin: 10px auto;
    width: 60%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.accidental{
  visibility: hidden;
}

.piano {
    margin-top: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
}



#last_key{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#first_key{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.white.active {
    background-color: #ccc;
}

.black.active {
    background-color: #333;
}

@media only screen and (min-width: 1024px){


.white:hover{
    background-color: #efefef;
    cursor: pointer;
}

.black:hover{
    background-color: #2d2d2d;
    cursor: pointer;
}

.button_instrument:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.button_note:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.button_scale:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

}